*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 15px;
}
nav>#nav_icons{
    display: flex;
    align-items: center;
}
.vertical_line{
    
}